.contact_us {
    background: #F7F8FA;
}

.contact_us_top_div {
    background: white;
    padding: 20px;
}

.h1,
.h3,
.link_p {
    text-align: center;
    color: #424242;
}


.link_p {
    font-size: 14px;
    color: #757575;
    margin-top: -8px;
}

.link {
    color: #271272;
    text-decoration: none;
}

.link:last-child {
    color: #757575;
}

.link:last-child:hover {
    color: #039BE5;
}

.h3{
    color: black;
    margin-top: 10px;
}



.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}



.address_card_container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px 0;
}

.address_card{
    width: 280px;
    padding: 30px;
    background: white;
    text-align: center;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.h4{
    margin-top: 0px;
}

.address_card .link_p{
    margin-block: -8px 0px;
}