.wrapper {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    margin-top: 40px;
    width: 100%;
    padding: 20px;
}

.left_div {
    width: 80%;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.select{
    border-radius: 6px;
    padding: 2px 5px;
    margin-top: 10px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.heading {
    padding: 10px;
    background: #F1F5F9;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

p,
h6 {
    margin: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item>div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.img {
    width: 60px;
    height: 60px;
}

.right_div {
    width: 40%;
}

.right_div_top,
.right_div_bottom{
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.right_div_bottom{
    margin-top: 20px;
}

.right_div_top .heading,
.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_div_top .heading{
    font-weight: 500;
}

.d_flex{
    margin: 5px 0;
    align-items: flex-start;
    gap: 10px;
}



@media screen and (max-width:1024px) {
    .wrapper{
        flex-direction: column;
    }
    .left_div,.right_div{
        width: 100%;
    }

    .right_div{
        display: flex;
        gap: 10px;
    }

    .right_div_bottom{
        margin-top: 0;
    }
}

@media screen and (max-width:524px) {
    .right_div{
        flex-direction: column;
    }
}