.order {
    width: 100%;
    padding: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.order_top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.order_top>div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 0px;
}

.img {
    width: 100px;
    height: 100px;
    margin: 0px 8px;
    object-fit: cover;
}

.info {
    width: 90%;
}

.info>.info_row {
    width: 90%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

hr {
    margin-block: 10px;
}

.order_bottom {
    display: flex;
    align-items: flex-start;
    /* width: 100%; */
    gap: 20px;
}

.progress {
    width: 400px;
    /* width: 100%; */
    height: 5px;
    background-color: #ccc;
    border-radius: 6px;
    position: relative;
}

.progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 5px;
    background: rgb(44, 173, 44);
    border-radius: 6px;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.status {
    padding: 2px 6px;
    border-radius: 6px;
    color: white !important;
}

.Cancelled {
    background: #de6210;
}

.Completed {
    background: green;
    color: white;
}

.alloted {
    background: rgb(69, 204, 83);
    color: white;
}

.pending {
    background: rgb(255, 230, 0);
}

.OutOfDelivery {
    background: rgb(95, 95, 255);
    color: white;
}

@media screen and (max-width:590px) {
    .progress {
        width: 300px;
    }

    .order{
        gap: 10px;
    }

    .p {}
}

@media screen and (max-width:525px) {
    .progress {
        width: 200px;
    }

    .p {
        display: none;
    }

    .d_flex {
        justify-content: center;
    }
}

@media screen and (max-width:525px) {
    .progress {
        width: 200px;
    }
}

@media screen and (max-width:365px) {
    .progress {
        width: 170px;
    }

}