.container {
    /* border: 2px solid; */
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.appBanner {
    /* border: 2px solid red; */
    padding: 80px 100px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #5500cb;
    color: white !important;
}


.websiteBanner {
    /* border:2px solid green; */
    padding: 80px 100px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #5500cb;
    color: white !important;
}


/* App Banner and Website Banner styles */

.parentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}


.pageBanner {
    padding: 80px 100px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #5500cb;
    color: white !important;
}

/* app pages stylings  */




.imagesContainer {
    /* border: 2px solid; */
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 30px;
}

.imageWrapper {
    border: 1px solid grey;
    width: 30%;
    margin: 0 12px;
    margin-bottom: 15px;
}

.imageWrapper img {
    width: 100%;
    height: 400px;
}

.otherBanners {
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
}

.bannerFooter {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.bannerContainer {
    border: 1px solid grey;
    width: 70%;
    margin: 20px auto;
    margin-bottom: 15px;
}

.bannerContainer img {
    width: 100%;
    height: 300px;
}