.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: 1rem auto;
  gap: 10px;
  justify-content: space-around;
  /* border: 2px solid; */

}

.wrapper {
  width: 100%;
}

.left {
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
  /* align-items: center; */

  justify-content: center;
  /* justify-content: space-between; */
  border-radius: 8px;

}

.left>.services-content {
  padding: 1rem;
}

.dFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.searchBox {
  border: 1px solid rgba(227, 227, 227, 1.00);
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  position: relative;
  margin-top: 30px;
  margin-inline: auto;
}

.searchBox>div {
  padding: 0.3rem 0.6rem;
}

.searchBox>div>input {
  font-size: 16px;
  border: none;
  outline: none;
  height: 15px;
  width: 100%;
}

@media(max-width:768px) {
  .searchBox {
    width: 90%;
  }
}


.type_animation {
  font-size: 16px;
  position: absolute;
  top: 12px;
  left: 154px;
  color: gray;
  cursor: text;
}

.search_result_box {
  background: white;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  max-height: 50vh;
  z-index: 10;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search_result_item {
  display: flex !important;
  align-items: center;
  gap: 20px;
  font-family: "Poppins", serif;
}

.search_result_item img {
  width: 90px;
  height: 90px;
  border-radius: 6px;
}

.container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  /* border: 1px solid rgb(237, 237, 237); */
  border-radius: 12px;
  align-items: center;
  max-width: 60vw;
}

.imagecontainer {
  width: 85%;
  padding: 0.5rem;
  border-radius: 12px;
  height: 92%;
}

.right>div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;

}

.heading>h4 {
  font-weight: 600;
  font-size: 48px;
  font-family: "Rubik", sans-serif !important;
}

@media(max-width:768px) {
  .heading>h4 {
    font-size: 30px;
    margin-block: 0px;
    padding: 0 20px;
    margin-top: 10px;
    padding-left: 30px;
  }
}

.services-name {
  margin-bottom: 20px;
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(237, 237, 237);
  border-radius: 12px;
}

.services-card>div {
  padding: 0.3rem;
}

.sub-section>div {
  padding: 10px;
}

.card {
  max-width: 8rem;
  max-height: 9rem;
  padding: 0.2rem;
  align-items: center;

}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardMedia {
  width: 100%;
  border-radius: 8px;
  background-color: #f5f5f5;
}

.cardMedia img {
  height: 70px;
  display: flex;
  align-items: 'center';
  width: 60%;
  object-fit: cover;
  margin: 0 auto;

}

.cardAction {
  text-align: center;
}

.cardAction .link {
  text-decoration: none;
  color: #0f0f0f;
  font-size: 11px;
  white-space: normal;
  margin-top: 6px;
}

@media(max-width:768px) {
  /* .heading>h4 {
    font-size: 20px;
  } */

  .cardMedia {
    width: 80%;
  }

  .cardMedia img {
    height: 60px;
  }
}

@media(max-width:520px) {
  .main {
    flex-direction: column;

  }

  .right {
    display: none;
  }

  .left {
    max-width: 100%;
  }

  .card {
    width: 100%;

  }

  .imagecontainer {
    width: 100%;
  }

  .cardAction .link {
    text-decoration: none;
    font-size: 10px;
    color: #0f0f0f;
    /* line-height: 0px; */
  }

  .services-content {
    margin-inline: 20px;
  }
}