

.main{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   width: 95%;
   margin: 1rem auto;
   gap:10px;
   justify-content: space-around;
   
}
.wrapper{
    width: 100%;
}
.left{
   max-width: 35vw;
   display: flex;
   flex-direction: column; 
   /* justify-content: space-between; */
   border-radius: 8px;
   
}
.left>div{
    padding:1rem;
}

.dFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.searchBox {
  border: 1px solid rgba(227, 227, 227, 1.00);
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  position: relative;
}

.searchBox>div {
  padding: 0.3rem 0.6rem;
}

.searchBox>div>input {
  font-size: 16px;
  border: none;
  outline: none;
  height: 15px;
  width: 100%;
}

.type_animation{
  font-size: 16px;
  position: absolute;
  top: 12px;
  left: 164px;
  color: gray;
  cursor: text;
}

.search_result_box{
  background: white;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  max-height: 50vh;
  z-index: 10;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search_result_item{
  display: flex;
  align-items: center;
  gap: 20px;
}

.search_result_item img{
  width: 90px;
  height: 90px;
  border-radius: 6px;
}

.container>img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.right{
  border: 1px solid rgb(237, 237, 237);
  border-radius: 12px;
  align-items: center;
  max-width: 60vw;
}
.imagecontainer{
    padding:0.5rem;
    border-radius: 12px;
    height: 100%;
}
.right>div>img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 12px;

}
.heading>h4{
   font-weight: 600;
}
@media(max-width:768px){
  .heading>h4{
    font-size: 20px;
 }
}
.services-name{

}

.services-content{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 1px solid rgb(237, 237, 237);
   border-radius: 12px;
}
.services-card>div{
  padding: 0.3rem;
}
.sub-section>div{
   padding:10px;
}
.card{
  max-width: 8rem;
  max-height: 9rem;
  padding: 0.2rem;
  align-items: center;

}
.card>div{


}
.cardMedia{
    width: 100%;
   border-radius: 8px;
   background-color: #f5f5f5;
   

}
.cardMedia>img{
  height: 100%;
  display: flex;
  align-items: 'center';
  width: 60%;
  object-fit: cover;
  margin: 0 auto;
 
}

.cardAction>a{
  text-decoration: none;
  color: #0f0f0f;
  font-size: 11px;
  white-space: normal;
}
@media(max-width:768){
  .heading>h4{
    font-size: 20px;
  }
}
@media(max-width:520px){
  .main{flex-direction: column;

  }
  .right{
    display: none;
  }
    .left{
      max-width: 100%;
  }
    .card{
        width: 100%;
        
      }
     .imagecontainer{
       width: 100%;
     } 
     .cardAction>a{
      text-decoration: none;
      font-size: 10px;
      color: #0f0f0f;
    }
}

