.modal_overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
}

.modal_overlay.modal_open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_overlay.modal_close {
    display: none;
}

.modal_wrapper {
    position: relative;
    max-width: 480px;
    width: 100%;
    padding: 0 20px;
}

.modal {
    border-radius: 15px;
    background: white;
    padding: 20px;
    max-height: 87vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal_close {
    cursor: pointer;
    border: none;
    background: white !important;
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px !important;
    height: 30px !important;
    position: absolute;
    right: -5px !important;
    top: -40px !important;
    color: black !important;
    padding: 5px !important;
}

.btn {
    background: green !important;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 40px !important;
}