.wrapper1 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40 !important;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    max-width: 650px;
    width: 80%;
    height: 80vh;
    overflow: auto;
    padding: 20px;
    border-radius: 6px;
    background: white;
}

.heading_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.viewBtn{
    background: #000;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 2px 10px;
}

.heading {
    margin-top: 20px;
}

.reviewGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.reviewGrid> div{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
}

.reviewGrid .price {
    display: flex;
    gap: 20px;
}

.reviewGrid>div span:first-child {
    text-decoration: line-through;
    color: gray;
}

.reviewGrid>div span:last-child {
    font-weight: 500;
    font-size: 20px;
}
