:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-family: 'Poppins','sans-serif';
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.carousel-container{
  width: 90%;
  margin: 1.5rem auto;
  
}

.mobilenav{
        position: static;
        top: 0;
        display: flex;
        flex-direction: column;
        gap:12px;
        padding:0 0 1rem 0;
        max-height: 60vh;
        width: 100%;
        border: 1px solid rgba(227,227,227,1.00);
        border-radius: 12px;
        animation: dropdown 1.5s ease forwards;
        
}
.open{
  max-height: 90vh;
}
.mobilenav>div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem 0.8rem;

}

.mobilenav>div:nth-child(1){
  justify-content: space-between;
}
.mobilenav>div:nth-child(1)>div>svg{
  font-size: 33px;
}
.mobilenav>div:nth-child(2){
 padding: 0.3rem 0.8rem;
 margin-left: 0.4rem;
}
.mobilenav>div:nth-child(3){
  border: 1px solid rgba(227,227,227,1.00);
  align-items: center;
  padding: 0.3rem 0.8rem;
  margin:0 0.4rem;
}
.mobilenav>div:nth-child(3)>div>input{
  border: none;
  outline: none;

}
.mobilenav>div:nth-child(3)>div>{
 align-items: center;
 padding: 0.2rem 0.2rem;

}

.popup-modal{
      position: absolute;
      bottom: 0;
      animation: popup 2s ease forwards;
}

@keyframes dropdown{
  0% {top:0;max-height:15vh;}
  100% {top:0;max-height:60vh;}

  }

@keyframes popup{
  0% {bottom:-90vh;} 
  100% {bottom:0vh;}
  
  }

  @media(max-width:768px){
    .mobilenav>div:nth-child(1)>div>svg{
      font-size: 50px;
      border:1px solid rgba(227,227,227,1.00);
      border-radius: 8px;
      cursor: pointer;
    }
  }
 