.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    max-width: 500px;
    width: 100%;
    max-height: 80vh;
    overflow: auto;
    padding: 20px;
    border-radius: 6px;
    background: white;
}

.heading_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contianer {
    margin-top: 20px;
}

.contianer p {
    margin-bottom: 10px;
}

.contianer>div {
    display: flex;
    gap: 20px;
}

.contianer>div span:first-child {
    text-decoration: line-through;
    color: gray;
}

.contianer>div span:last-child {
    font-weight: 500;
}

.carousel {
    margin-bottom: 0px;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.carousel_img {
    margin-top: 10px;
    max-width: 480px;
    width: 100%;
    height: 200px;
    object-fit: cover;

    border-radius: 20px;
}


.carousel_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    padding: 4px;
    color: #000;
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
}

.carousel_button_left {
    left: 36px;
}

.carousel_button_right {
    right: 26px;
}

.carousel_button:hover {
    background-color: rgb(202, 202, 202);
}

.h3{
    margin-top: 20px;
}

.products_cotainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    max-width: 340px;
    padding: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.product img {
    width: 100%;
    /* height: 190px; */
    object-fit: contain;
    margin-bottom: 10px;
    cursor: pointer;
}

.price_cotainer{
    display: flex;
    gap: 6px;
    margin-top: 10px;
}

.price_time_container .price:first-child,
.product .price:first-child{
    font-size: 14px;
    text-decoration: line-through;
    color: gray;
}

.price_time_container .price:last-child,
.product .price:last-child{
    font-size: 16px;
    font-weight: 600;
}