.ratings-container {
    border: 2px solid #000000;
    border-radius: 0.5rem;
    /* Rounded corners */
    background-color: rgba(16, 16, 16, 0.1);
    /* Light green background */
    padding: 1.5rem 2.5rem;
    /* Padding: 1.5rem top/bottom, 2.5rem left/right */
    display: grid;
    grid-template-columns: 30% 68%;
    gap: 2%;
    /* Space between grid items */
    width: 100%;
    margin-top: 20px;
    height: 230px;
}

.ratings-container.col{
    /* grid-template-columns: 1fr; */
    height: 270px;
    margin-top: 0;
}

.ratings-header {
    font-size: 0.875rem;
    /* Text size */
    font-family: Inter, sans-serif;
    /* Font family */
    font-weight: 500;
    /* Medium weight */
    color: #0d0c22;
    /* Dark text color */
}

.ratings-average {
    font-family: Inter, sans-serif;
    font-weight: 700;
    /* Bold weight */
    font-size: 2.25rem;
    /* Large font size */
    margin-top: 0.25rem;
    /* Small margin */
}

.ratings-stars {
    margin-top: 0.5rem;
}

.ratings-reviews {
    font-size: 0.75rem;
    /* Small text */
    font-family: Inter, sans-serif;
    color: #858585;
    /* Gray text color */
}

.ratings-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    /* Space between each rating */
}

.singlerating-container {
    display: grid;
    grid-template-columns: 6% 87% 6%;
    align-items: center;
    gap: 0.75rem;
    /* 12px gap between grid items */
}

.singlerating-container-medium {
    grid-template-columns: 15% 70% 4%;
    /* Adjust grid for medium screens */
}

.singlerating-star-text {
    font-family: Inter, sans-serif;
    font-size: 0.75rem;
    /* Text size: 12px */
    font-weight: 500;
    /* Medium weight */
}

.singlerating-bar-container {
    width: 100%;
    /* Equivalent to Tailwind's `w-11/12` */
    height: 0.5rem;
    /* Equivalent to Tailwind's `h-2` */
    background-color: #d2d8df;
    /* Gray background */
    border-radius: 1.5rem;
    /* Fully rounded corners */
    overflow: hidden;
}

.singlerating-bar {
    height: 100%;
    border-radius: 1.5rem;
    /* Fully rounded corners */
    background-color: #000000;
    /* Green background */
}

.singlerating-value {
    font-family: Inter, sans-serif;
    font-size: 0.75rem;
    /* Text size: 12px */
    font-weight: 500;
    /* Medium weight */
}