.card {
    /* width: 100%; */
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card .update_btn {
    border: none;
    padding: 4px 10px;
    border-radius: 20px;
    background: rgb(43, 122, 226);
    color: white;
    font-weight: 600;
}

.red,
.green,
.blue {
    background: red;
    border-radius: 6px;
    padding: 0 4px;
}

.red {
    background: rgb(227, 26, 26);
}

.green {
    background: rgb(1, 191, 1);
    color: white;
}

.blue {
    background: rgb(32, 142, 233);
    color: white;
}