.help_center {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.help_center_title {
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
}

.box form {
    max-width: 800px;
    width: 100%;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_box {
    width: 100%;
    height: 45px;
    margin-top: 5px;
    border-radius: 6px;
    position: relative;
}

select {
    padding: 0 10px;
}

.input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid gray;
    outline: none;
}

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.multi_select {
    position: absolute;
    top: 51px;
    left: 0;
    background: white;
    padding: 5px 20px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 6px;
    z-index: 5;
}

.multi_select label {
    display: block;
    width: 100%;
    cursor: pointer;
    margin: 2px 0;
}

.input_box .input>span {
    color: rgb(107, 107, 107);
}

.label {
    padding: 2px;
}

.label:hover {
    background: #ececec;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.multi_select .button_wrapper {
    justify-content: flex-end;
}

.button {
    outline: none;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    padding: 8px 50px;
    border-radius: 6px;
}

.h3 {
    margin-top: 60px;
}

.issues_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    background: #ececec;
    padding: 20px;
}

.issue,
.issues {
    background: white;
    padding: 10px 15px;
    border: 2px solid #ececec;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.in_review {
    background: orange;
    padding: 2px 10px;
    border-radius: 30px;
}

.solved {
    background: green;
    color: white;
    padding: 2px 10px;
    border-radius: 30px;
}

.raised {
    background: #283891;
    color: white;
    padding: 2px 10px;
    border-radius: 30px;
}

.issue .button {
    padding: 8px 20px;
}

.modal_overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
}

.modal_overlay.modal_open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_overlay.modal_close {
    display: none;
}

.modal_wrapper {
    position: relative;
    max-width: 580px;
    width: 100%;
    padding: 0 20px;
}

.modal {
    border-radius: 15px;
    background: white;
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
}


.modal_close {
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: -40px;
}

.sm{
    display: none;
}


@media screen and (max-width:500px) {
    .issues {
        grid-template-columns: auto;
        gap: 10px;
    }
    .issue{
        display: none;
    }

    .button{
        width: 100%;
    }
    
}