.settings{
    width: 100%;
    padding: 20px;
}

.heading_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_wrapper{
    display: flex;
    gap: 10px;
}

.button{
    padding: 4px 10px;
    border: none;
    border-radius: 6px;
    background: black;
    color: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.item{
    max-width: 290px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.item .right{
    display: flex;
    gap: 10px;
}