.modal_overlay {
    background: #000000be;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
}

.modal_overlay.modal_open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_overlay.modal_close {
    display: none;
}

.modal_wrapper{
    position: relative;
    max-width: 420px;
    width: 100%;
    padding: 0 20px;
}

.modal {
    border-radius: 15px;
    background: white;
    padding: 20px;
}


.modal_close {
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: -40px;
}

.login_signup_p{
    font-size: 22px;
    font-weight: 600;
}

.input_box{
    max-width: 380px;
    width: 100%;
    height: 25px;
    display: flex;
    margin-block: 30px;
}

.input{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid gray;
    outline: none;
}

.checkbox_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.checkbox {
    accent-color: black;
    width: 16px;
    height: 16px;
}

.checkbox_p {
    font-size: 14px;
}

.button{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 30px;
    border-radius: 6px;
    background: #6E42E5;
    color: white;
    cursor: pointer;
}