.modal_overlay {
    background: #000000be;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
}

.modal_overlay.modal_open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_overlay.modal_close {
    display: none;
}

.modal_wrapper{
    position: relative;
    max-width: 420px;
    width: 100%;
    padding: 0 20px;
}

.modal {
    border-radius: 15px;
    background: white;
    padding: 20px;
}


.modal_close {
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: -40px;
}

.login_signup_p{
    font-size: 22px;
    font-weight: 600;
}

.input_box{
    max-width: 380px;
    width: 100%;
    height: 45px;
    display: flex;
    margin-block: 20px;
}

.input{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid gray;
    outline: none;
}

.p > button{
    background: transparent;
    color: rgb(56, 56, 230);
    border: none;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
}


.btn_wrapper{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.btn_wrapper .link{
    background: transparent;
    border: none;
    /* width: 160px; */
    color: #2e63ff;
    cursor: pointer;
    font-size: 14px;
}

.btn_wrapper .link:disabled{
    cursor: not-allowed;
}

.button{
    margin-top: 10px;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 6px;
    background: #000;
    color: white;
    cursor: pointer;
}


.button span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.img{
    width: 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}


.edit_icon_wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit_icon_wrapper .icon{
   color: #2e63ff;
   cursor: pointer;
}
