
.Card{
  width: 100%;
  padding: 1rem;
  
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

}
.cardMedia{
  width: 100%;
  height:100%;
}
.cardMedia>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-card{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
/* padding: 0.2rem 0.8rem; */
border:1px solid rgb(237, 237, 237);
box-shadow: 1px 1px 4px 1px #B0B0B0;
border-radius: 8px;
margin-right: 8px;
margin-left: 8px;
text-align: center;
border-radius: 12px;
margin-top: 4px;
margin-bottom: 8px;
}
@media(max-width:520px){
 .cardMedia{
  width: 100%;
 }
.cardname{
  font-size: 13px;
}
.heading>h4{
  font-size:  20px;
  white-space: nowrap;
  justify-content: space-between;
}
.heading{
  font-size: 13px;
}
.heading>button{
  font-size: 10px;
  white-space: nowrap;
}
.single-card{
  height: 10rem;
}
}