.privacy_policy {
    background: #F7F8FA;
}



.heading_div {
    padding: 20px 10px;
    background: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 28px;
}



.wrapper {
    padding: 40px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    padding: 20px 30px;
}

.h3 {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

.p {
    font-size: 15px;
    color: #424242;
    margin-block: 10px;
    font-weight: 400;
}

.p:nth-child(3) {
    margin-top: 40px;
}

ol {
    margin-top: 10px;
    font-size: 14px;
    color: #424242;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
}

div>ol>li,
div>ol {
    margin-top: 15px;
}

.bold{
    font-weight: 600;
}

.bold:last-child .p:nth-child(2),
.bold:last-child .p:nth-child(3),
.bold:last-child .p:nth-child(4),
.bold:last-child .p:nth-child(5) {
    margin-block: 6px;
}