.modal_wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 20;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.modal{
    max-width: 300px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.button_wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button{
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.button:first-child{
    background: green;
    color: white;
}

.button:last-child{
    border: 1px solid #ccc;
}