.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    max-width: 650px;
    width: 80%;
    /* height: 80vh; */
    /* overflow: auto; */
    padding: 20px;
    border-radius: 6px;
    background: white;
}

.heading_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contianer{
    margin-top: 20px;
}

.contianer p{
    margin-bottom: 10px;
}

.contianer > div{
    display: flex;
    gap: 20px;
}

.mt{
    margin-top: 20px;
}


.btn{
    margin-right: 20px;
    border: none;
    background: black;
    color: white;
    border-radius: 6px;
    padding: 4px 10px;
}
