.container {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.privacy_policy,
.about_us,
.contact_us {
    padding: 80px 100px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}


.privacy_policy {
    background-color: rgb(208, 125, 125);
}

.about_us {
    background-color: rgb(91, 240, 91);
}

.contact_us {
    background-color: rgb(91, 156, 240);
}


.parentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.box {
    padding: 20px;
    max-width: 1150px;
    width: 100%;
}

.input_container {
    margin-top: 20px;
}

.react_quill {
    height: 60vh;
}

.button_wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

.button{
    padding: 6px 20px;
    border: none;
    border-radius: 6px;
    background: #000;
    color: white;
}

.button:hover{
    background: #262626;
}