.my_bookings{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    min-height: 90vh;
}

.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
}


.table{
    width: 70%;
    margin-top: 20px;
    border-color: gray;
}

tbody tr{
    cursor: pointer;
}


th,td{
    /* max-width: 200px; */
    text-align: center;
}

th:first-child,
td:first-child{
    width: 80px;
}

.bookings_container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}