.modal_overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal {
    max-width: 550px;
    width: 100%;
    border-radius: 15px;
    background: white;
    padding: 20px;
    max-height: 70vh;
    overflow-y: auto;
}

.heading_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.p_container {
    margin-block: 10px;
}

.progress {
    margin-top: 10px;
    /* width: 400px; */
    width: 100%;
    height: 5px;
    background-color: #ccc;
    border-radius: 6px;
    position: relative;
}

.progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 5px;
    background: rgb(44, 173, 44);
    border-radius: 6px;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.product_contaner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 10px;
}

.product {
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 6px;
}

.img {
    width: 60px;
    height: 60px;
}

.info {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.p {
    text-align: right;
}