.report-container{
    width: 100%;
}

.justify{
    /* width: 100%; */
    padding-top: 20px;
    padding-inline: 20px;
}


.container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-block: 20px;
}

.helpCenter {
    max-width: 370px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.helpCenter_right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button{
    border: none;
    padding: 4px 10px;
    background: #000;
    color: white;
    margin-top: 20px;
    border-radius: 6px;
}

.under_review,.resolved{
    padding: 2px 6px;
    border-radius: 6px;
}

.under_review{
    background: orange;
}

.resolved{
    background: green;
    color: white;
}

.containerClassName {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 30px;
    text-decoration: none;
}

.active,
.pbtn {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.active {
    background: #000;
    color: white;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-decoration: none;
}

.pbtn {
    margin-inline: 10px;
    border: 1px solid black;
    padding: 6px;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    color: black;
}

.disabled {
    cursor: pointer;
    border: 1px solid black;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    text-decoration: none !important;
}

.container_wrapper{
/* border: 2px solid; */
width: 75%;
margin: 0 auto;
display: flex;
justify-content: space-around;
align-items: center;
}

.tickets{
/* border: 2px solid red; */
background-color: #5500cb;
padding: 80px 100px;
font-size: 1.2rem;
font-weight:bold;
cursor: pointer;
color: white;
}


.faqs{
/* border:2px solid green; */
background-color:#5500cb;
padding: 80px 100px;
font-size: 1.2rem;
font-weight:bold;
cursor: pointer;
color: white;
}