.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
}

.button {
  border: none;
  padding: 4px 10px;
  background: #000;
  color: white;
  margin-top: 20px;
  border-radius: 6px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header,
.raisedby {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.content {
  margin-top: 16px;
}

.view-profile {
  color: #007bff !important;
  text-decoration: none;
}

.view-profile:hover {
  text-decoration: underline;
}

.section {
  margin-bottom: 16px;
}

.section p {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* Timeline container */
.timeline-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Timeline icon */
.timeline-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 6px;
  color: white;
  border-radius: 50%;
  background: green;
}

/* Timeline content */
.timeline-content {
  display: flex;
  flex-direction: column;
}

/* Title text */
.timeline-title {
  font-size: 0.875rem;
  /* equivalent to Tailwind's text-sm */
  font-weight: 500;
  /* equivalent to Tailwind's font-medium */
  color: black;
}

/* Time text */
.timeline-time {
  font-size: 0.75rem;
  /* equivalent to Tailwind's text-xs */
  color: #6E6D6D;
}

/* Vertical dashed line */
.vertical-line {
  margin-left: 12px;
  border-left: 1px dashed #D1D5DB;
  /* equivalent to Tailwind's border-gray-400 */
  height: 32px;
  /* equivalent to Tailwind's h-8 */
}

.bg-gray{
  background: #D1D5DB;
}