.wrapper {
    z-index: 99999 !important;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    max-width: 650px;
    width: 80%;
    height: 80vh;
    overflow: auto;
    padding: 20px;
    border-radius: 6px;
    background: white;
}

.heading_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.input {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid gray;
}

.icon {
    position: absolute;
    bottom: 8px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
}

.input_container textarea {
    height: 80px;
}

.button_wrapper {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 6px 30px;
    border: none;
    border-radius: 6px;
    background: #4b49ac;
    color: white;
}

.permission {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_flex {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 18px;
    font-weight: 500;
}