
.wrapper{
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", serif;
}

.body{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background-color: white;
    
}
.body-wrapper{
    width: 100%;
    background-color: white;

}
.body>div{
    margin-bottom: 1.5rem;
}

.dFlexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}




@media(max-width:768px){
    .body{
        width: 98%;
        margin: 0 auto;
        position: relative;
        z-index: 5;
        background-color: white;
        
    }
    .body-wrapper{
       
    
    }
}