
.wrapper{
    width: 100%;
    overflow-x: hidden;
}

.body{
    width: 95%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background-color: white;
    
}
.body-wrapper{
    width: 100%;
    background-color: white;

}
.body>div{
    margin-bottom: 1.5rem;
}