.service_info {
  margin-top: 20px;
  padding: 20px;
}

.button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background: #6765e3;
  color: white;
  margin-top: 10px;
}

.service_info > div {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.heading_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
