.service_info {}

.button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background: #6765e3;
  color: white;
  margin-top: 10px;
}

.service_info > div {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.heading_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service_info_wrapper{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
  padding: 20px;
}


.img_wrapper{
  display: flex;
  gap: 20px;
}

.icon{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}
