.service_info{
    margin-top: 20px;
    padding: 20px;
}

.service_info > div{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.heading_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}