.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 1.00);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px #B0B0B0;
    width: 100%;
    padding: 12px 13px;
    border: 1px solid rgb(237, 237, 237);

}

.header>div {
    padding: 0.5rem;

}

/* .wrapper{
    width: 90%;
    margin: 0 auto;
} */
.container {
    position: static;
    display: flex;
    flex-direction: row;
    max-height: 15vh;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.8rem;
    border: 1px solid rgba(227, 227, 227, 1.00);
    border-radius: 0 0 12px 12px;
    box-shadow: 0px 0px 5px #B0B0B0;
    animation: collapse 2s ease backwards;

}

@keyframes collapse {
    0% {
        top: 0;
        max-height: 60vh;
    }

    100% {
        top: 0;
        max-height: 15vh;
    }
}

.container>div>svg {
    font-size: 50px;
    border: 1px solid rgba(227, 227, 227, 1.00);
    border-radius: 8px;
    cursor: pointer;
}


.location {
    border: 1px solid rgba(227, 227, 227, 1.00);
    border-radius: 8px;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    width: 50%;
    align-items: center;
    height: 3rem;
}

.location>div {}

.actions {
    flex: 1;
    display: flex;
    flex-direction: row;

}

.LogoContainer {
    width: 13rem;

}

.LogoContainer>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.dFlexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.searchBox {
    border: 1px solid rgba(227, 227, 227, 1.00);
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 3rem;
}

.searchBox>div {
    padding: 0.3rem 0.6rem;
}

.searchBox>div>input {
    font-size: 16px;
    border: none;
    outline: none;
    height: 15px;
    width: 100%;

}

.button-container {}


@media(min-width:521px) and (max-width:768px) {
    .LogoContainer {
        width: 4rem;
    }

    .header {
        padding: 0.3rem 0.3rem;
    }

    .location {
        display: flex;

    }

    .searchBox>div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.3rem 0.1rem;
    }

    .actions {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .searchBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.3rem 0.1rem;
    }

    .container>div>svg {}
}

@media(max-width:520px) {
    .actions {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: space-around;
    }

    .LogoContainer {
        width: 4rem;
    }

    .location {
        width: 40vw;
        border: none;

    }

    .searchBox {
        width: 100%;
    }

}