.modal_wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    max-width: 350px;
    width: 80%;
    padding-top: 20px;
    border-radius: 6px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.modal p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.modal p span{
    font-weight: 600;
}


.button{
    border: none;
    border-radius: 6px;
    color: #fff;
    background: #FF0000;
    padding: 8px 20px;
    width: 100%;
}
