.wrapper{
  margin: 1.7rem 0;
}
.banners_wrapper{
   /* width:100%;   
   border: 2px solid; */
  margin-right:8px ; 
}
.image-container>div{
  display: flex;
  flex-direction: row;
  
   
}

.image-container img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media(max-width:600px){
  .image-container{
    width:88vw;
  }
}
/* @media(min-width:600px) and (max-width:999px){
    .image-container{
        width:30vw;
      }
}
@media(min-width:1000px) {
    .image-container{
        width:22vw;
      }
} */
