/* .image-container{
    width:30vw;   
    
 } */
 .image-container>img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-right: 0.5rem;
 }
 @media(max-width:600px){
   .image-container{
     width:88vw;
   }
   .heading>h4{
    font-size: 21px;
   }
 }
 /* @media(min-width:600px) and (max-width:1299px){
     .image-container{
         width:30vw;
       }
 } */
 /* @media(min-width:1300px) {
     .image-container{
        padding-bottom: 66.77%;
       }
 } */