.p {
    font-size: 17px;
    color: #555;
}

.card {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    background: #F4F4F4;
    padding: 20px 20px 40px 20px;
    border-radius: 4px;
}

.card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-weight: 600;
    color: #555;
    font-size: 17px;
}

.role {
    font-size: 14px;
    color: #555;
}

.social_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social_img {
    width: 25px;
    height: 25px;
}