.modal_wrapper {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    z-index: 20;
    justify-content: center;
}

.modal {
    max-width: 390px;
    width: 100%;
    background: white;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h5{
    margin-block: 20px;
    text-align: center;
}

.modal > .button{
    background: green;
    padding: 4px 20px;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}