.wrapper{
    width: 100%;
    background-color: rgba(245,245,245,1.00);
    font-family: "Poppins", serif;


}
.main{
    width: 95%;
    margin: 0 auto;
    font-family: "Poppins", serif;

}
.Footer{
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    padding: 15px 18px;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #E3E3E3;
    font-family: "Poppins", serif;
}
.Footer >div{
    padding: 0.5rem 0.9rem;
    font-family: "Poppins", serif;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-family: "Poppins", serif;    
}
.social>div{
   padding: 0.4rem 0.8rem;
    
}
.logo-container{
    width: 10rem;
    font-family: "Poppins", serif;
}
.logo-container > img{
    height: 100%;
    padding-top: 40px;
    width: 100%;
    object-fit: contain;
}
.download>div>a>img{
    width: 7rem;
    object-fit: cover;  
    margin-top: 20px;
}
.heading{
    padding: 1rem 0.2rem;
    font-family: "Poppins", serif;
}
.heading>h5{
    font-weight: 550;
    font-family: "Poppins", serif;
}


.p{
    margin-bottom: 5px;
    font-family: "Poppins", serif;
}

a{
    text-decoration: none !important;
    color:black !important;
    font-size: 15px;
    font-family: "Poppins", serif;

}
a>svg{
    color: black;
    
}
.sub-footer div{
    font-size: 13px;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    font-family: "Poppins", serif;
}

.section>div.div{
    padding: 0.8rem;
}


@media(max-width:768px){
    .logo-container{
        width: 144px;
    }
    .logo-container>div>img{
        height: 100%;
        padding: 1rem;
        margin-top: 12px;
        width: 100%;
        object-fit: contain;
    }
}


.help_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background: black;
    border-radius: 50px;
    padding: 15px 30px;
    flex-wrap: wrap;
    color: white;
}

.help_wrapper .bg_white{
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    color: black;
}

.help_wrapper .bg_white a{
    display: flex;
    gap:  10px;
    align-items: center;
    color: black;
}

@media screen and (max-width:494px) {
    .help{
        display: none;
    }

    .help_wrapper{
        justify-content: center;
    }
}

@media screen and (max-width:463px) {
    .bg_white{
        width: 100%;
        padding-inline: 5px;
    }

    .help_wrapper{
        padding-inline: 15px;
        border-radius: 20px;
    }

}

