.wrapper{
    width: 100%;
    background-color: rgba(245,245,245,1.00);


}
.main{
    width: 95%;
    margin: 0 auto;

}
.Footer{
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    padding: 15px 18px;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #E3E3E3;
}
.Footer >div{
    padding: 0.5rem 0.9rem;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    
}
.social>div{
   padding: 0.4rem 0.8rem;
    
}
.logo-container{
    width: 10rem;
}
.logo-container>div>img{
    height: 100%;
    padding-top: 10px;
    width: 100%;
    object-fit: contain;
}
.download>div>a>img{
    width: 7rem;
    object-fit: cover;  
}
.heading{
    padding: 1rem 0.2rem;
}
.heading>h5{
    font-weight: 550;
}


.p{
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    color:black;
    font-size: 15px;

}
a>svg{
    color: black;
    
}
.sub-footer div{
    font-size: 13px;
    padding-bottom: 1rem;
}

.section>div.div{
    padding: 0.8rem;
}


@media(max-width:768px){
    .logo-container{
        width: 144px;
    }
    .logo-container>div>img{
        height: 100%;
        padding: 1rem;
        margin-top: 12px;
        width: 100%;
        object-fit: contain;
    }
}

