.booking_details {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    margin-block: 40px;
    padding: 10px;
}

.booking_details_left {
    width: 70%;
}

.booking_details_right {
    width: 30%;
}

.order_details>.d_flex {
    flex-wrap: wrap;
    gap: 20px;
}

.order_details,
.delivery_details,
.booking_details_right_top {
    border: 1px solid gray;
    width: 100%;
}

.delivery_details {
    margin-top: 20px;
}

.h4 {
    padding: 10px;
    background: #ccc;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


.buttons_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    background: #000;
    color: white;
    padding: 4px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 6px;
}

.red {
    background: red;
}



.delivery_details .d_flex {
    flex-direction: column;
    align-items: normal;
}

.delivery_details .d_flex>div {
    width: 100%;
}

.progress {
    margin-top: 10px;
    /* max-width: 400px; */
    width: 100%;
    height: 5px;
    background-color: #ccc;
    border-radius: 6px;
    position: relative;
}

.progress::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 5px;
    background: rgb(44, 173, 44);
    border-radius: 6px;
}

.status_container {
    display: flex;
    justify-content: space-between;
}

.product_contaner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.product {
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 6px;
}

.img {
    width: 100px;
    height: 100px;
}

.info {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 6px;
    flex-wrap: wrap;
}

.p {
    text-align: right;
}

.booking_details_right_top .d_flex>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width:800px) {
    .booking_details {
        flex-wrap: wrap;
    }

    .booking_details_left,
    .booking_details_right {
        width: 100%;
    }
}

.modal_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 20;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    max-width: 300px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.button_wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.button {
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.button.yes {
    background: green;
    color: white;
}

.button.no {
    border: 1px solid #ccc;
}


@media screen and (max-width: 495px) {
    .buttons_container {
        flex-direction: row;
    }
}