.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    max-width: 1080px;
    width: 80%;
    max-height: 80vh;
    overflow: auto;
    border-radius: 6px;
    background: white;
}

.heading_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.contianer {
    margin-top: 20px;
}

.contianer p {
    margin-bottom: 10px;
}

.contianer>div {
    display: flex;
    gap: 20px;
}

.mt {
    margin-top: 20px;
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.button {
    border: none;
    border-radius: 6px;
    color: #fff;
    background: #000;
    padding: 4px 10px;
}

.table_wrapper {
    overflow-x: auto;
    padding: 30px;
}

.table {}

.table th,
.table td {
    border: 1px solid black;
    text-align: center;
}