
.Card{
    width: 100%;
    padding: 0.2rem;
    
}

.heading{
    display: flex;
    flex-direction: column;
    

}
.cardMedia{
    width: 100%;
    height:100%;
}
.cardMedia>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.single-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid rgb(237, 237, 237);
  box-shadow: 1px 1px 4px 1px #B0B0B0;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: 8px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
}
@media(max-width:520px){
   .cardMedia{
    width: 100%;
    
   }
  .cardname{
    font-size: 17px;
  }
  .heading>h4{
    font-size:  22px;
  }
  .heading>p{
    font-size: 13px;
  }
  .single-card{
  width:95%;
  height: 10rem;
  margin-right: 3px;
  margin-left: 3px;
  }
}
@media(min-width:1300px) and (max-width:1800px){
  .cardname{
    font-size: 18px;
  }
  .heading>h4{
    font-size:  26px;
  }
  .heading>p{
    font-size: 15px;
  }
}
@media(min-width:1800px) and (max-width:3000px){
  .cardname{
    font-size: 22px;
  }
  .heading>h4{
    font-size:  28px;
  }
  .heading>p{
    font-size: 17px;
  }
}