.wrapper{
   padding: 1rem 1.9rem;
   width: 100%;
}
.dialog{
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 0;
    max-height: 100vh;
    margin-top: 1rem;
    animation: popup 0.3s ease-in-out forwards;

}
   
.icon{
    position: absolute;
    top:0;
    right:0;
    border: 1px solid black;
    margin-top: 12px;
    margin-right: 12px;
    border-radius: 5rem;
}
.container>div{
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.container{
    overflow-x: hidden;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;    
}
.category-cards{
    width: 80%;
    align-items: center;
}
.image-Box>img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    padding:0.5rem
}
@keyframes popup{
    0% {bottom: -90%;top:40%;} 
    100% {bottom:0%;top:10%;}
    }
.image-Box{
    display: flex;
    background-color: rgba(245,245,245,1.00);
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    
}
.card-name>p{
    font-size: 12px;
    white-space: normal;
    text-align: center;
}
.dialog-title>p{
    font-size: 28px;
    font-weight: 700;

}
.sub-category{
    margin-bottom: 0.6rem;
}
.sub-category-name{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
@media (max-width:3000px){
    /* .dialog{
       border-radius: 10%;
    } */
}
@media(max-width:520px){
    .dialog{
        position: relative; 
        overflow-x: hidden;
        scrollbar-color: black;
          height: 90vh;
          border-radius: 18px;
          margin:6rem 0.3rem 0.1rem 0.3rem;
    }
    .container{
        width: 100%;
    }
    .image-Box>img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        padding: 0.1rem;
    }
    .container>div{
        margin-bottom:0.5rem;
    }
    .container>div{
        padding: 0;
    }
   .card-name>p{
    font-size: 10px;
   }
   .dialog-title>p{
    font-size: 18px;
   
}
.sub-category-name{
    font-size: 12px;
    font-weight: 600;
}
}
@media(min-width:521px) and (max-width:768px){
    .container{
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding:1rem
    }
    
   .card-name>p{
    font-size: 12px;
   }
   .dialog-title>p{
    font-size: 25px;
}
.sub-category-name{
    font-size: 12px;
    font-weight: 600;
}
}

.category-cards{
    
}

