.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    max-width: 650px;
    width: 90%;
    max-height: 80vh;
    overflow: auto;
    padding: 20px;
    border-radius: 6px;
    background: white;
}

.heading_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.d_flex {
    display: flex;
    gap: 20px;
    align-items: center;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
    width: 100%;
}

.feature {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.feature_wrapper{
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.feature .feature_img {
    width: 90px;
    height: 80px;
    border-radius: 10px;
}

.feature .feature_img>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.feature .feature_content {
    max-width: 580px;
    width: 100%;
}

.icons_cotainer{
    display: flex;
    gap: 10px;
}


.button {
    padding: 6px 30px;
    border: none;
    border-radius: 6px;
    background: #4b49ac;
    color: white;
}
