.loading-skeleton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0.1rem;
}

@media (max-width: 768px) {
    .loading-skeleton {
        grid-template-columns: 1fr 1fr;
    }
}