.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    max-width: 650px;
    width: 80%;
    /* height: 80vh; */
    overflow: auto;
    padding: 20px;
    border-radius: 6px;
    background: white;
}

.heading_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select{
    display: flex;
    gap: 8px;
}

.select input{
    width: 18px;
    height: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.input_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.input {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid gray;
}

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.multi_select {
    position: absolute;
    top: 71px;
    left: 0;
    background: white;
    padding: 5px 5px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 6px;
    z-index: 5;
}

.d_flex label {
    width: 100%;
}

.input_container textarea {
    height: 80px;
}

.button_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button {
    padding: 6px 30px;
    border: none;
    border-radius: 6px;
    background: #4b49ac;
    color: white;
}



.service_container {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.service {
    background: #4b49ac;
    color: white;
    padding: 2px 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
}