.hero_section {
    background: #EFF7FF;
    padding-bottom: 20px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero_section_top {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.hero_section_h1 {
    font-size: 40px;
    font-weight: 600;
    max-width: 500px;
}

.hero_section_p {
    font-size: 24px;
    color: gray;
    max-width: 500px;
}

.hero_section_img{
    width: 100%;
}



.hero_section_bottom {
    background: #8D65FA;
    border-radius: 8px;
    padding: 25px;
}

.hero_section_bottom_h2 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.input_container{
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    place-items: center;
    gap: 20px;
    margin: 0 auto;
}

.input{
    width: 280px;
    height: 45px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 2px solid #fff;
    outline: none;
    background: #A279FD;
    color: white;
}

.input::placeholder{
    color: white;
}

.button{
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 12px 30px;
    display: block;
    background: white;
    color: #0050FF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
}



.company_info{
    background: #F8FBFE;
    padding: 40px 20px;
}

.company_info_h3{
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4px;
}

.company_info_p{
    color: gray;
    text-align: center;
}

.list_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.list_item{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.list_item:first-child{
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/urbanclap-prod/categories/category_v2/category_3d776cf0.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.list_item:nth-child(2){
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/urbanclap-prod/categories/category_v2/category_3d9a8550.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.list_item:last-child{
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/urbanclap-prod/categories/category_v2/category_418e54c0.svg);
    background-repeat: no-repeat; 
    background-position: top right;
}

.list_item_h3{
    font-size: 34px;
    color: #018B2E;
    margin-bottom: 0px;
}

.list_item_p{
    font-weight: 600;
}

@media screen and (max-width:1160px) {
    .hero_section_top{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:420px) {
    .hero_section_h1{
        font-size: 30px;
    }
    .hero_section_p{
        font-size: 20px;
    }
    .hero_section_bottom_h2{
        font-size: 18px;
    }
    .input_container{
        max-width: max-content;
    }
    .input{
        max-width: 220px;
        width: 100%;
    }
}

@media screen and (max-width:375px) {
    .input_container{
        grid-template-columns: 1fr;
    }
}

