.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    border-bottom: 1px solid #d5d5d5;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 10px;
}

.logo_img {
    width: 180px;
}

.checkout_container {
    padding: 0 15px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.checkout_container_left {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login_button_container_guest{
      max-width: 550px;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    margin-top: 40px;
    padding: 15px;

}
.login_button_container {
    max-width: 550px;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    margin-top: 40px;
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookingWrapper{
     max-width: 550px;
    width: 100%;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    margin-top: 40px
}

.booking_info_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

      /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* border: 2px solid; */
}

.booking_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* border: 2px solid; */
    width:100%;
}

.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_container .img{
    width: 20px;
}

.modal_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 20;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    max-width: 390px;
    width: 100%;
    background: white;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal > .button{
    background: green;
}

.heading {
    font-weight: 600;
}

.p {
    font-size: 15px;
}

.mt {
    margin-top: 20px;
}

.button {
    background-color: black;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.continue_btn{
   width: 200px;
    padding: 10px;
    border-radius: 6px;
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
    background-color: black;
}

.select_address_btn{
    background-color: black;
    /* width: 100%; */
    padding: 10px;
    border-radius: 6px;
    color: white;
    margin-top: 20px;
    cursor: pointer; 
}

.address_container{
    /* border: 2px solid green; */
    padding:15px;
}

.cart_checkout_container {
    margin-top: 30px;
    max-width: 490px;
    width: 100%;
    position: relative;
}

.cart {
    /* width: 100%; */
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.cart_items_container {
    border-bottom: 2px solid #d5d5d5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.cart_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 20px;
}

.list_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 20px;
}

.list_item {
    font-size: 12px;
    color: gray;
}

.cart_item_right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cart_item .button {
    margin-top: 0;
    width: auto;
    display: flex;
    align-items: center;
    padding-block: 8px;
    gap: 10px;
    background: #fff;
    border: 1px solid #000;
    color: #000;
}

.link{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.price {
    font-size: 14px;
}

.quantity {
    font-size: 17px;
}


.frequently_added_heading {
    margin-bottom: 20px;
}

.carousel {
    margin-bottom: 0px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
}

.carousel_img {
    max-width: 480px;
    width: 100%;
    border-radius: 20px;
}


.carousel_button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    padding: 4px;
    color: #000;
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
}

.carousel_button_left {
    left: 36px;
}

.carousel_button_right {
    right: 26px;
}

.carousel_button:hover {
    background-color: rgb(202, 202, 202);
}

.frequently_added_item {
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 10px;
}

.frequently_added_item:first-child {
    margin-left: 0px;
}

.item_price,
.item_name {
    font-size: 14px;
}

.item_price {
    font-weight: 600;
}

.frequently_added_item_right {
    display: flex;
    flex-direction: column;
}

.frequently_added_item_right .button {
    border: 1px solid #d5d5d5;
    background: transparent;
    color: #5d17f4;
    margin-top: 0;
}

.item_img {
    width: 80px;
    border-radius: 6px;
}

.checkbox_wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkbox {
    accent-color: black;
    width: 16px;
    height: 16px;
}

.checkbox_p {
    font-size: 14px;
}



.offer_box {
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo_box {
    width: 25px;
    height: 25px;
    background: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.offer_p {
    font-size: 14px;
}

.offer_p:first-child {
    font-weight: 600;
    margin-bottom: 6px;
}



.payment_summary {
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    padding: 20px;
    margin-block: 20px;
}

.payment_summary_h4 {
    margin-bottom: 10px;
}

.payment_summary_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.payment_summary_div:last-child {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px dashed #d5d5d5;
}

.payment_summary_div:last-child .payment_summary_p {
    font-weight: 600;
}

.payment_summary_p {
    font-size: 14px;
    margin-block: 4px;
}



.amount_to_pay_box {
    padding: 20px;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    position: sticky;
    bottom: 0;
    /* left: 0; */
    right: 0;
}

.amount_to_pay_box_h4 {
    margin-top: 0;
}

.amount_to_pay {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.view_break_up_button {
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px dashed #d5d5d5;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 4px;
}


@media screen and (max-width:1110px) {
    .checkout_container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
    }

    .login_button_container {
        margin: 0;
        position: static;
    }

    .cart_checkout_container {
        margin: 0;
    }
}

@media screen and (max-width:420px) {
    .cart_item_right {
        flex-direction: column;
    }
}