.about_section {
    background: #F7F8FA;
}



.heading_div {
    padding: 20px 10px;
    background: white;
    /* margin-bottom: 30px; */
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 28px;
}



.wrapper {
    padding: 40px 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    padding: 20px 30px;
}

.section {
    padding: 20px 0;
}

.h2 {
    text-align: center;
}

.p {
    font-size: 17px;
    color: #555;
}


.list_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    padding: 40px;
}

.list_item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_item_bold_p {
    font-size: 25px;
    font-weight: 600;
    color: #555555;
}

.list_item_p {
    color: #757575;
}



.leadership_team_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}


.company_container,
.investers_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.company_img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}

.investers_container {
    align-items: flex-start;
    gap: 60px;
    margin-top: 50px;
}

.invester_name_img_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invester_name {
    font-size: 14px;
}

.invester_img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}



.media_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.link_p,
.link {
    font-size: 14px;
    color: #757575;
}

.link:hover {
color: #039BE5;
}

.button{
    background: #000;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
}


@media screen and (max-width:475px) {
    .list_container {
        flex-direction: column;
    }
}