.wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    max-width: 650px;
    width: 80%;
    /* height: 80vh; */
    /* overflow: auto; */
    padding: 20px;
    border-radius: 6px;
    background: white;
}

.heading_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tran_contianer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background: #e6e6e6; */
    border-radius: 20px;
    padding: 20px;
}

.d_flex{
    display: flex;
    gap: 20px;
}
