.contianer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
}

.contianer p {
    margin-bottom: 10px;
}

.contianer>div {
    display: flex;
    gap: 20px;
}

.h2 {
    padding: 0 20px;
    padding-top: 20px;
}

.service_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.status {
    background: #712be2;
    color: white;
    padding: 4px 8px;
    border-radius: 30px;
}

.flex {
    display: flex;
    gap: 10px;
}

.report-container {
    max-width: 700px;
    min-height: 300px;
    width: 100%;
    margin: 70px auto 0px auto;
    margin-inline: 10px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.flex .report-container:first-child {
    max-width: 650px;
}

.flex .report-container:last-child {
    padding: 20px;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.d_flex>p {
    font-size: 22px;
    font-weight: 500;
    color: green;
}


.report-body {
    padding: 20px;
}

.report-topic-heading,
.item1 {
    display: flex;
    gap: 40px;
    align-items: center;
}


.h3 {
    margin-bottom: 20px;
}

.button {
    border: none;
    padding: 4px 10px;
    background: transparent;
    color: #2599ff;
    font-weight: 500;
}

.cash_btn {
    border: none;
    width: 100%;
    padding: 4px 10px;
    border-radius: 20px;
    background: #712be2;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}

.tran_contianer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #e6e6e6;
    border-radius: 20px;
    padding: 20px;
}

.card {
    width: 100%;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
}

.card .update_btn {
    border: none;
    padding: 4px 10px;
    border-radius: 20px;
    background: rgb(43, 122, 226);
    color: white;
    font-weight: 600;
}

@media screen and (max-width:1376px) {
    .flex {
        flex-direction: column;
    }

    .report-container {
        /* max-width: 1100px; */
    }
}

@media screen and (max-width:800px) {
    .contianer {
        grid-template-columns: 1fr;
    }
}