.modal_overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
}

.modal_overlay.modal_open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_overlay.modal_close {
    display: none;
}

.modal_wrapper {
    position: relative;
    max-width: 480px;
    width: 100%;
    padding: 0 20px;
}

.modal {
    border-radius: 15px;
    background: white;
    padding: 20px;
}


.modal_close {
    cursor: pointer;
    border: none;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: -40px;
}

.mt {
    margin-top: 10px;
}

.input_box {
    max-width: 380px;
    width: 100%;
    height: 45px;
    display: flex;
    border-radius: 6px;
    margin-top: 5px;
}

.input_box.padding{
    padding: 10px 20px;
}

.input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid gray;
    outline: none;
}

.button {
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.button:last-child {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border-radius: 6px;
    background: black;
    color: white;
    justify-content: center;
}