.Card {
  width: 100%;
  height: 100%;
  /* padding: 1.5rem; */
  margin-top: 60px;  
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
  font-family: "Poppins", serif;
}

.cardname {
  padding: 0.2rem 0.5rem;
  margin-top: 10px;
  font-family: "Poppins", serif;
}


.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  font-size: 13px;
  white-space: normal;
}

.cardMedia {
  width: 95%;
  height: 200px;
  overflow: hidden;
}

.cardMedia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.single-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 10px;
  text-align: left;
  padding: 0.1rem;
  margin: 0.1rem;
  /* overflow: hidden; */
  border-radius: 8px;
  padding: 0 5px;
}

.price{
  font-size: 17px;
  padding: 0 0.5rem;
  font-family: "Poppins", serif;
}

@media(max-width:520px) {
  .cardMedia {
    width: 100%;
  }

  .cardname {
    font-size: 15px;
  }

  .rating {
    font-size: 11px;
    align-items: center;
  }

  .rating>svg {
    font-size: 11px;
  }

  .price {
    font-size: 11px;
  padding: 0 0.5rem;
  }

  .heading>h4 {
    font-size: 22px;
    white-space: nowrap;
  }

  .heading>button {
    font-size: 10px;
    white-space: nowrap;
  }

  .single-card {
    height: 14rem;
  }
  .price{
    font-size: 15px;
  }
}

@media(min-width:375px) and(max-width:520px) {
  .single-card {}
}

@media(min-width:521px) and(max-width:768px) {
  .single-card {
    height: 22rem;
  }
}

@media(min-width:1300px) and (max-width:1800px) {
  .cardname {
    font-size: 18px;
  }

  .rating {
    font-size: 16px;
  }

  .price {
    font-size: 16px;
  }

  .heading>h4 {
    font-size: 26px;
  }

  .heading>p {
    font-size: 15px;
  }
}

@media(min-width:1800px) and (max-width:3000px) {
  .cardname {
    font-size: 22px;
  }

  .rating {
    font-size: 16px;
  }

  .price {
    font-size: 16px;
  }

  .heading>h4 {
    font-size: 28px;
  }

  .heading>p {
    font-size: 17px;
  }
}