
.Card{
  width: 100%;
  padding: 1rem;
  padding: 0.2rem;
  
}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.cardMedia{
  max-width: 100%;
  max-height:100%;
}
.cardMedia>img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.single-card{
display: flex;
justify-content: space-between;
text-align:left;
box-shadow: 1px 1px 4px 1px #B0B0B0;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 0.2rem;
border:1px solid rgb(237, 237, 237);
margin-right: 8px;
margin-bottom: 8px;
margin-top: 4px;
margin-left: 4px;
border-radius: 8px;
}
@media(max-width:520px){
 .cardMedia{
  width: 100%;
 }
.cardname{
  font-size: 10px;
}
.rating{
  font-size: 11px;
  align-items: center;
}
.rating>svg{
  font-size: 11px;
}
.price{
  font-size: 11px;
}
.heading>h4{
  font-size:  22px;
  white-space: nowrap;
}
.heading>button{
  font-size: 10px;
  white-space: nowrap;
}
.single-card{
  height: 14rem;
}
}
@media(min-width:375px) and(max-width:520px){
  .single-card{
    height: 17rem;
  }
}
@media(min-width:521px) and(max-width:768px){
  .single-card{
    height: 22rem;
  }
}